<html>
    <head>
        <title> Senha incorreta </title>
        <script>
            confirm("Senha incorreta")
            window.locations.replace("/room/<%= roomId %>")
        </script>
    </head>
</html>